*.gz
*.dmp
examples/*/*.tsv
examples/*/*.fa
examples/*/*.dnd
examples/*/*.phy
examples/*/*.nex
examples/*/seeds.fa.*
examples/*/aligned.txt
examples/*/merged.txt
Makefile
*.komodoproject
data/GBIF/taxonomy-search-*
data/INPARANOID
.DS_Store
_Inline/
MYMETA.*
results/primates/*
results/specieslists/*
results/alcids/*
results/alcids_bak/*
results/sea/*
results/bootstrap/*
results/gentianales-2013/*
data/FOSSILS/*
conf/.vagrant
examples/primates/*
.idea/
Makefile.old
.vagrant
Vagrantfile
conf/output-virtualbox-iso/
conf/packer_cache/
blib
pm_to_blib
out
